In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
x,x_time,y,y_time = [],[],[],[]

In [3]:
import os

path = "TrainingData"

files = os.listdir(path)

x_csv = []
x_time_csv = []
y_csv = []
y_time_csv = []

for file in files:
    if file.endswith("_x.csv"):
        x_csv.append(pd.read_csv(path+"/"+file))
    elif file.endswith("_x_time.csv"):
        x_time_csv.append(pd.read_csv(path+"/"+file))
    elif file.endswith("_y.csv"):
        y_csv.append(pd.read_csv(path+"/"+file))
    elif file.endswith("_y_time.csv"):
        y_time_csv.append(pd.read_csv(path+"/"+file))

In [4]:
for i in range(29):
    print(len(x_csv[i]),len(y_csv[i]))

37889 9472
70171 17542
43145 10786
54955 13738
59120 14779
38630 9657
31422 7855
66761 16690
55998 13999
55400 13849
48796 12198
51460 12864
42318 10579
36312 9077
47209 11802
19532 4882
34308 8576
34475 8618
56078 14019
34518 8629
44904 11225
48124 12030
59561 14890
45128 11281
46200 11549
46988 11746
44640 11159
39438 9859
48137 12034

In [5]:
l = []
for j in range(29):
    new_list = []
    for i in (y_csv[j].T).values.tolist()[0]:
        new_list.extend([i]*4)
    l.append(pd.DataFrame(new_list))


y_csv = l
l = []
for j in range(29):
    new_list = []
    for i in (y_time_csv[j].T).values.tolist()[0]:
        new_list.extend([i]*4)
    l.append(pd.DataFrame(new_list))
y_time_csv = l

In [6]:
for i in range(29):
    x_csv[i] = x_csv[i].drop(x_csv[i].iloc[-(len(x_csv[i])-len(y_csv[i])):].index)
    x_time_csv[i] = x_time_csv[i].drop(x_time_csv[i].iloc[-(len(x_time_csv[i])-len(y_csv[i])):].index)

In [7]:
for i in range(29):
    print(len(x_csv[i]),len(y_csv[i]))

37888 37888
70168 70168
43144 43144
54952 54952
59116 59116
38628 38628
31420 31420
66760 66760
55996 55996
55396 55396
48792 48792
51456 51456
42316 42316
36308 36308
47208 47208
19528 19528
34304 34304
34472 34472
56076 56076
34516 34516
44900 44900
48120 48120
59560 59560
45124 45124
46196 46196
46984 46984
44636 44636
39436 39436
48136 48136

In [8]:
# x_csv = pd.concat(x_csv)
# x_time_csv = pd.concat(x_time_csv)
# y_csv = pd.concat(y_csv)
# y_time_csv = pd.concat(y_time_csv)
for df in x_csv:
    df.set_axis(["1","2","3","4","5","6"], axis=1, inplace=True)
x = pd.concat(x_csv).reset_index(drop=True)

In [9]:
for df in y_csv:
    df.set_axis(["Y"], axis=1, inplace=True)
y = pd.concat(y_csv).reset_index(drop=True)

In [10]:
x,y

(                1         2         3         4         5         6
 0        4.186920  8.344455  2.908057  0.005771 -0.004480 -0.003345
 1        4.544637  8.408659  2.890000  0.007967  0.022412  0.001159
 2        4.849308  8.411614  2.900692  0.027778 -0.010670 -0.014223
 3        4.509190  8.118649  2.847298  0.021577 -0.045498 -0.021111
 4        4.226515  8.273807  2.851742  0.012534  0.000445 -0.016830
 ...           ...       ...       ...       ...       ...       ...
 1341531  2.098301  8.893398 -3.510000  0.001195  0.000335  0.001027
 1341532  2.072244  8.908878 -3.500000  0.001351  0.001191  0.001031
 1341533  2.085123  8.915123 -3.520000  0.001918 -0.001147  0.000000
 1341534  2.083774  8.910000 -3.538981 -0.002015 -0.004099  0.001042
 1341535  2.111447  8.908553 -3.535724  0.000183 -0.001673  0.001856

 [1341536 rows x 6 columns],
          Y
 0        0
 1        0
 2        0
 3        0
 4        0
 ...     ..
 1341531  0
 1341532  0
 1341533  0
 1341534  0
 1341535  0

 [1341536 rows x 1 columns])

In [11]:
from sklearn.preprocessing import StandardScaler

In [12]:
scaler = StandardScaler()
scaler.fit(x)
x = scaler.transform(x)

In [18]:
x

                1         2         3         4         5         6
0        0.620526  0.045297 -0.567122  0.000352 -0.018272  0.083458
1        0.682920  0.054664 -0.570361  0.001034 -0.001083  0.089309
2        0.736061  0.055095 -0.568443  0.007191 -0.022230  0.069325
3        0.676737  0.012354 -0.578019  0.005264 -0.044492  0.060375
4        0.627432  0.034990 -0.577222  0.002453 -0.015124  0.065938
...           ...       ...       ...       ...       ...       ...
1341531  0.256223  0.125381 -1.718132 -0.001071 -0.015195  0.089139
1341532  0.251678  0.127640 -1.716339 -0.001022 -0.014648  0.089144
1341533  0.253924  0.128551 -1.719925 -0.000846 -0.016142  0.087804
1341534  0.253689  0.127803 -1.723329 -0.002068 -0.018029  0.089158
1341535  0.258515  0.127592 -1.722745 -0.001385 -0.016478  0.090216

[1341536 rows x 6 columns]

In [16]:
x = pd.DataFrame(x,columns = ["1","2","3","4","5","6"])

In [14]:
from sklearn.model_selection import train_test_split

In [19]:
x['y'] = y

In [20]:
X_train, X_test, y_train, y_test= train_test_split(x.drop('y',axis=1), x['y'], test_size=0.2, random_state=42, stratify=x['y'])

In [21]:
X_train

                1         2         3         4         5         6
649570  -0.115550 -1.280971  0.271861  0.644274  0.392302  0.108841
803436   0.183757  0.042149 -0.583550 -0.215840 -0.080163 -0.005253
979546   1.752736  0.047685 -0.007212 -0.560602  3.105541  0.904000
104936   1.806260  0.188780 -1.028420 -0.215671 -0.629253 -1.002059
656267  -0.367877  0.163800 -0.549022  0.006768  0.006875  0.045037
...           ...       ...       ...       ...       ...       ...
1064595 -0.119021 -0.291913  0.878464  0.755168 -0.024073 -1.671912
530300  -0.894968 -1.010694  0.871313  1.527046  1.007892  0.444500
857548  -0.887751  0.124088  0.427574 -0.046386 -0.059517 -1.323819
1317682 -0.724297  0.140537  1.760978 -0.133710  0.600001  1.241472
414410   0.275632 -1.015213  0.587099  1.513835  1.707905 -0.225729

[1073228 rows x 6 columns]

In [22]:
y_train

649570     2
803436     0
979546     0
104936     0
656267     0
          ..
1064595    0
530300     0
857548     0
1317682    3
414410     0
Name: y, Length: 1073228, dtype: int64